<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <title>Vue Introduction</title>
</head>
<body>
    <div id="app">
        <h1>Vadim-tasks</h1>
        <input type="text" v-model="message">
        <a href="#" @click="addItem" v-if="message != ''">Ajouter à la liste</a>
        
        <p  v-for="todo in todos">
            {{ todo }}
        </p>

    </div>
    <script>
        const vue = Vue.createApp({
            data(){
                return{
                    message: 'Hello world !',
                    todos: []
                }
            },
            methods:{
                addItem(){
                    this.todos.push(this.message);
                    this.message = '';
                }
            }
        }).mount('#app');
    </script>
</body>
</html>